<div class="box">
    <div class="box">
        <h4>Suma dos Numeros</h4>
        <p>two way binding</p>
        <div class="box">
            <input type="number" [(ngModel)]="numero1" placeholder="Escribe un número">
            <h4 class="m-auto">+</h4>
            <input type="number" [(ngModel)]="numero2" placeholder="Escribe un número">
            <hr>
            <button (click)="sumarNum()">Sumar</button>
            <div class="box" [hidden]="ocultar">
                <h3>Resultado: {{resultado}}</h3>
            </div>

        </div>
    </div>
</div>