<div class="box">
    <div class="box">
        <div class="box">
            <h3>Listado de Personas</h3>
            <button class="btn btn-primary" [disabled]="deshabilitar" (click)="agregarPersona()">Agregar
                persona</button>
            <p *ngIf="mostrar; else sinPersona">{{ mensaje }} con el título de {{ titulo }}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado niguna persona</p>
            </ng-template>
            <div class="box">
                <app-persona></app-persona>
            </div>
            <label for="">Título Persona</label>
            <!-- <input type="text" class="form-control"
            (input)="modificarTitulo($event)"> event binding-->
            <input type="text" [(ngModel)]="titulo"> <!-- two way binding -->
            {{titulo}}
        </div>
    </div>
</div>